<div class="container mt-5 mb-5">
    <img src="" width="100%">
    <h1 class="text-center">About</h1>

    <p>
        Party Ok es un sitio donde puedes encontrar proveedores en el rubro de los eventos de forma sencilla y rapida, acá encontrarás lo que necesitas, desde Amplificación,
         Iluminación, Animación, Dj, Coctelería, Banquetería.
        <br/>
        
        <br/>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil placeat dolorum maxime, molestiae eveniet est! A cum illum magni officiis saepe, fugiat voluptas maiores, harum accusantium, explicabo odit sed perspiciatis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum illum, iste voluptatem minima impedit quasi veniam soluta ea corporis alias nulla assumenda eum cumque incidunt sint eius adipisci voluptates officia!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam consectetur aliquam illum, natus nisi totam cum dolorum necessitatibus rem corrupti tempora, ullam impedit quod assumenda suscipit dolore, eos numquam.
        <br/>
    </p>

</div>